
.content-creation-video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.content-creation-video {
    max-width: 200px;
    margin: 20px;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	display: block;
}
