.chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px); /* optional: full height minus some padding */
    max-width: 800px; /* optional: limit max width for better readability */
    margin: 0 auto; /* center horizontally */
    padding: 10px 0; /* optional: add some padding around the chat */
}

app-message-window {
    flex: 1 1 0;
    min-height: 0;
    overflow-y: auto;
}

app-chat-input {
    max-height: 300px;
    flex: 0 0 auto;
    overflow-y: visible;
    display: block;
}