<h1>Satellite data stream <span class='tooltip-container'><strong class="keyword">MTG</strong>
            <span class="definition" role="tooltip">
                <strong>MTG</strong>: Meteosat Third Generation. A series of geostationary meteorological satellites operated by EUMETSAT.<br>
                <a href="https://www.eumetsat.int/meteosat-third-generation"rel="noopener">EUMETSAT MTG</a>
            </span>
        </span></h1>
<p>One of my jobs at <span class='tooltip-container'><strong class="keyword">ARSO</strong>
            <span class="definition" role="tooltip">
                <strong>ARSO</strong>: Agencija Republike Slovenije za okolje (Environmental Agency of the Republic of Slovenia).<br>
                <a href="https://vreme.arso.gov.si/napoved/Ljubljana/graf"rel="noopener">vreme.arso.gov.si</a>
            </span>
        </span> was to establish and maintain data stream processing pipelines for the latest MTG satellite data using <span class='tooltip-container'><strong class="keyword">PyTroll</strong>
            <span class="definition" role="tooltip">
                <strong>Pytroll</strong>: easy to use, modular, free and open source python framework for the processing of earth observation satellite data.<br>
                <a href="https://pytroll.github.io/py"rel="noopener">pytroll.github.io</a>
            </span>
        </span>. This involved working with large volumes of data, ensuring its quality and reliability, and making it accessible for various applications.
<br>

One of the products is shown below. The animation is from the ARSO <a href="https://meteo.arso.gov.si/met/sl/weather/observ/satelit/#sat_anim"rel="noopener">website</a>, and it shows the latest geocolor satellite data for Slovenia. The animation is updated in real-time, and it provides valuable information for weather forecasting and monitoring in the region.</p>
<div class="arso-satellite-video-outer">
    <div class="arso-satellite-video-container">
        <video
            src="https://meteo.arso.gov.si/uploads/probase/www/observ/satellite/mtg_geocolor_si-neighbours_latest.mp4"
            autoplay
            loop
            muted
            playsinline
            class="arso-satellite-video"
        >
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<h1>ARSO data viewer for <span class='tooltip-container'><strong class="keyword">GBL</strong>
            <span class="definition" role="tooltip">
                <strong>GBL</strong>: Gasilska brigada Ljubljana (Ljubljana Fire Brigade).<br>
                <a href="https://gasilskabrigadaljubljana.si/"rel="noopener">gasilskabrigadaljubljana.si</a>
            </span>
        </span></h1>

<p>I was responsible for solo development of the ARSO and GBL data viewer, handling full-stack from design to deployment.</p>
<p>This web application allows users to visualize and analyze various datasets from ARSO. It provides an intuitive interface for exploring weather data, specifically designed for use by firefighters in cases of extreme weather conditions. The application includes features such as interactive maps, real-time data updates, and includes data from wide variety of sources.</p>
<a href="https://www.rtvslo.si/slovenija/preberite-tudi/arso-in-gasilska-brigada-ljubljana-s-projektom-localience-nadgrajujeta-sodelovanje/760276"rel="noopener">Arso in Gasilska brigada Ljubljana s projektom Localience nadgrajujeta sodelovanje</a>
<br>
<a href="https://www.interreg-central.eu/event/arso-and-the-ljubljana-fire-brigade-go-beyond-standard-protocols-with-the-localience-project-2/"rel="noopener">ARSO and the Ljubljana Fire Brigade Go Beyond Standard Protocols with the LOCALIENCE Project</a>

<h2>RTVSLO 365 Report</h2>
<p> Report from national news agency on this project is shown in the video below. If the video does not appear you can always <a href="http://365.rtvslo.si/arhiv/porocila/175165440#t=4m20s"rel="noopener">watch the video directly here (at 4:20)</a>.
</p>
<div class="centered-iframe-container">
    <iframe src="https://365.rtvslo.si/arhiv/porocila/175165435" width="640" height="360" allowfullscreen style="border:1px solid #ccc; margin-bottom: 1em; overflow: hidden;" scrolling="no"></iframe>
</div>

<div class="quote-container">
            <blockquote>
                <p>"Spletni pregledovalnik, ki je nastal v okviru tega projekta, omogoča nam kot končnim uporabnikom, gasilski službi, hiter dostop do informacij, ki so ključnega pomena za oblikovanje našega odziva."</p>
                <p>("The web browser developed within this project provides us, as end users in the fire service, with quick access to information that is crucial for shaping our response.")</p>
            </blockquote>
            <footer>
                <p>- Tomaž Kučič, poveljnik Gasilske brigade Ljubljana</p>
            </footer>
        </div>

<div class="quote-container">
            <blockquote>
                <p>"...kako naše informacije, naša znanja posredovat občinam, ki so pristojne v primeru naravnih nesreč. In ravno to danes je en dober primer, ena dobra praksa, ki se jo bomo trudili širiti na vse druge občine."</p>
                <p style="font:0.5em">("...how our information, our knowledge is conveyed to municipalities responsible in case of natural disasters. And this today is a good example, a good practice that we will strive to spread to all other municipalities.")</p>
            </blockquote>
            <footer>
                <p>- Joško Knez, generalni direktor ARSO</p>
            </footer>
        </div>