<div class="message-window-container">
    
    overflow-y: auto;
    overflow-y: auto;
    overflow-y: auto;
    overflow-y: auto;testetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstese

    overflow-y: auto;
    overflow-y: auto;
    overflow-y: auto;
    overflow-y: auto;testetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstese

    overflow-y: auto; overflow-y: auto;testetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstese

    overflow-y: auto;
    overflow-y: auto;
    overflow-y: auto;
    overflow-y: auto;testetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstesetestetststsetsetsetsetstese

    <!-- <div class="message-window">
        <div *ngFor="let msg of messages" class="message {{msg.type}}" #messageDiv>
            <div [innerHTML]="msg.safeContent || getSafeHtml(msg.content)"></div>
        </div>
        <div *ngIf="currentMessage && currentMessage.content !== ''" class="message {{currentMessage.type}}" #currentMessageDiv>
            <div [innerHTML]="currentMessage.safeContent || getSafeHtml(currentMessage.content)"></div>
        </div>
    </div> -->
</div>
