
<div class="chat-container" #chatContainer (scroll)="chatContainerScrolled()">
  <div class="tutor-head" [class.bobbing]="isStreaming" [style.bottom.px]="10-chatContainerScrollTop()" (scroll)="chatContainerScrolled()" #tutorHead>🤖</div>
  <div *ngFor="let msg of messages" class="message {{msg.type}}" #messageDiv>
    <div [innerHTML]="msg.safeContent || getSafeHtml(msg.content)"></div>
  </div>
  <div *ngIf="currentMessage.content !== ''" class="message {{currentMessage.type}}" #currentMessageDiv>
    <div [innerHTML]="currentMessage.safeContent || getSafeHtml(currentMessage.content)"></div>
  </div>
</div>

<div class="input-container">
  <input #input type="text" [placeholder]="input_placeholder" (keydown.enter)="sendMessage(input.value); input.value=''">
  <button (click)="sendMessage(input.value); input.value=''" #button>Send</button>
</div>

